.App-logo {
  margin-Top: 5vmin;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.loading {
  color: #f8b133;
  text-align: center;
}

.search-bar {
  margin: 20px;
  padding: 10px;
  font-size: 24px;
  border: 1px solid white;
  border-radius: 10px;
  width: 15%;
  background: #f1f1f1;
}

@media screen and (max-width: 1024px) {
  .search-bar {
    width: 60%;
    margin-top: 30px;
    margin-bottom: -30px;
  }
}

.title {
  color: white;
  text-align: center;
}

tbody>tr>:nth-child(1){
  color: white;
  text-align: center;
}

tbody>tr>:nth-child(2){
  color: #00a9ea;
  text-align: center;
}

tbody>tr>:nth-child(3){
  color: #f8b133;
  text-align: center;
}

tbody>tr>:nth-child(4){
  color: #ff3452;
  text-align: center;
}

tbody>tr>:nth-child(5){
  color: #ff6960;
  text-align: center;
}

.content {
  margin: 70px;
}

td {
  height: 80px;
}

.credits {
  color: white;
  font-size: calc(4px + 2vmin);
  text-align: center;
}

.App-link {
  color: #61dafb;
  margin-bottom: 50px;
}

.top {
  margin-top: 5vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
